
body {
  background-color: rgb(2, 40, 60);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

/*GRID*/

.layout {
  width: 100%; /* Why does using vw here extend past view width? */
  height: 100vh; 

  display: grid;
  grid:
    "header header header" 1fr
    "listsLeft image listsRight" 2fr
    "footer footer footer" 1fr
    / 1fr 1fr 1fr;
  gap: 5px;
}

.header { 
  grid-area: header; 
  text-align: center;
}

.listsLeft {
  grid-area: listsLeft;
  align-self: center;
  justify-self: center;
  display: grid;
  grid:
  "week1 week2" 1fr
  "week3 week4" 1fr
  / 1fr 1fr
}

.listsRight {
  grid-area: listsRight;
  align-self: center;
  justify-self: center;
  display: grid;
  grid:
  "week1 week2" 1fr
  "week3 week4" 1fr
  / 1fr 1fr
}

.image { 
  grid-area: image; 
  align-self: center;
  justify-self: center;
}

.footer { 
  grid-area: footer; 
  text-align: center;
  align-self: center;
  font-size: 15px;
}

/*END OF GRID*/

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(162, 27, 122);
  font-weight: bold;
  font-size: 5em;
  margin-bottom: 5px; /* Manually override H1 and H2 margins ro reduce empty space between elements*/
}

h2 {
color: rgb(35, 177, 141);
margin-top: 5px;
}

h3 {
  color: rgb(35, 177, 141);
}  

img {
  border: 2px dashed;
  border-radius: 10px;
  width: 30vw;
  height: auto;
  padding: 10px;
}

.links {
  margin-bottom: 5vh;
}

#name {
  color: rgb(162, 27, 122);
}

#calendar {
  height:30px;
  width: 30px;
  border: none;
}