

  /* ---------- SMALL SCREEN ---------- */

  @media only screen and (max-width: 768px) {

    /*GRID*/
  
    .layout {
      width: 100%; 
      display: grid;
      grid:
        "header" 10%
        "listsLeft" 1fr
        "listsRight" 1fr
        "footer" 10%
        / 1fr;
      gap: 5px;
    }
  
    .header { 
      grid-area: header; 
      text-align: center;
    }
  
    .listsLeft {
      grid-area: listsLeft;
      align-self: center;
      justify-self: center;
      display: grid;
      grid:
      "leftTitle leftTitle" 10%
      "week1 week2" 1fr
      "week3 week4" 1fr
      "leftFooter leftFooter" 10%
      / 1fr 1fr;
      margin-bottom: 80px;
    }
  
    .listsRight {
      grid-area: listsRight;
      align-self: center;
      justify-self: center;
      display: grid;
      grid:
      "rightTitle rightTitle" 10%
      "week1 week2" 1fr
      "week3 week4" 1fr
      "rightFooter rightFooter" 10%
      / 1fr 1fr 
    }
  
    .leftTitle {
      grid-area: leftTitle;
    }
  
    .leftFooter {
      grid-area: leftFooter;
      text-align: center;
    }
  
    .rightFooter {
      grid-area: rightFooter;
      text-align: center;
    }
  
    .rightTitle {
      grid-area: rightTitle;
    }
  
    .footer { 
      grid-area: footer; 
      text-align: center;
      align-self: end;
      font-size: 15px;
      margin-bottom: 10px;
    }
  
    /*END OF GRID*/
  
  
    body {
      background-color: rgb(2, 40, 60);
      font-family: Arial, Helvetica, sans-serif;
      color: white;
    }
  
    a:link, a:visited {
      text-decoration: none;
      color: white;
    }
  
    li {
      padding-bottom: 10px;
    }
  
    h1, h2, h3 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
    }
  
    h1 {
      color: rgb(162, 27, 122);
      font-weight: bold;
      font-size: 12vw;
      margin-bottom: 5px; 
    }
  
    h2 {
    color: rgb(35, 177, 141);
    margin-top: 5px;
    font-size: 4vw;
    }
  
    h3 {
      color: rgb(35, 177, 141);
    }  
  
    #mainImage {
      display: none;
    }
  
    .specialCharacters {
      color:rgb(162, 27, 122)
    }
  
    #name {
      color: rgb(162, 27, 122);
    }
  
    #logo {
      width: 30px;
    }
  
    .calendar {
      width: 30px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  
  }

  /* ---------- WIDESCREEN ---------- */

@media only screen and (min-width: 800px) {

  /*GRID*/

  .layout {
    width: 100%; 
    height: 100vh; 
    display: grid;
    grid:
      "header header header" 1fr
      "listsLeft image listsRight" 1fr
      "footer footer footer" 1fr
      / 1fr 1fr 1fr;
    gap: 5px;
  }

  .header { 
    grid-area: header; 
    text-align: center;
  }

  .listsLeft {
    grid-area: listsLeft;
    align-self: center;
    justify-self: center;
    display: grid;
    grid:
    "leftTitle leftTitle" 10%
    "week1 week2" 1fr
    "week3 week4" 1fr
    "leftFooter leftFooter" 10%
    / 1fr 1fr;
  }

  .listsRight {
    grid-area: listsRight;
    align-self: center;
    justify-self: center;
    display: grid;
    grid:
    "rightTitle rightTitle" 10%
    "week1 week2" 1fr
    "week3 week4" 1fr
    "rightFooter rightFooter" 10%
    / 1fr 1fr 
  }

  .leftTitle {
    grid-area: leftTitle;
  }

  .leftFooter {
    grid-area: leftFooter;
    text-align: center;
  }

  .rightFooter {
    grid-area: rightFooter;
    text-align: center;
  }

  .rightTitle {
    grid-area: rightTitle;
  }

  .image { 
    grid-area: image; 
    align-self: center;
    justify-self: center;
  }

  .footer { 
    grid-area: footer; 
    text-align: center;
    align-self: end;
    font-size: 15px;
    margin-bottom: 50px;
  }

  /*END OF GRID*/


  body {
    background-color: rgb(2, 40, 60);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  a:link, a:visited {
    text-decoration: none;
    color: white;
  }

  li {
    padding-bottom: 10px;
  }

  h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

  h1 {
    color: rgb(162, 27, 122);
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 5px; 
  }

  h2 {
  color: rgb(35, 177, 141);
  margin-top: 5px;
  font-size: 1vw;
  }

  h3 {
    color: rgb(35, 177, 141);
  }  

  #mainImage {
    width: 40vw;
  }

  .specialCharacters {
    color:rgb(162, 27, 122)
  }

  #name {
    color: rgb(162, 27, 122);
  }

  #logo {
    width: 30px;
  }

  .calendar {
    width: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

}